footer
	.container
		a(href="#" class="bottom-logo")
			img(src="images/logo/kd-logo-bottom.png", alt="")
		.wrapper-menu-footer
			.linkFooter
				ul
					li
						a(href="#") Home
					li
						a(href="#") Berita
					li
						a(href="#") Opini
					li
						a(href="#") Ekonografik
					li
						a(href="#") Databoks
					li
						a(href="#") Telaah
					li
						a(href="#") Multimedia
					li
						a(href="#") Infomark

			.linkFooter
				ul
					li
						b Katadata Networks
					li
						a(href="#") D-Inside
					li
						a(href="#") Xplorer
					li
						a(href="#") Autoinsight

			.linkFooter
				ul
					li
						a(href="#") #[b Laporan Khusus]
					li
						a(href="#") 3 Tahun Jokowi
					li
						a(href="#") Sejarah Ekonomi Indonesia
					li
						a(href="#") Electronic Road Pricing (ERP)
					li
						a(href="#") Masa Depan Periklanan Indonesia
		
			.linkFooter
				ul
					li
						a(href="#") #[b Tentang Katadata]
					li
						a(href="#") Hubungi Kami
					li
						a(href="#") Advertising
					li
						a(href="#") Pedoman Pemberitaan
					li
						a(href="#") Media Siber
					li
						a(href="#") Kesempatan Karir
					li
						a(href="#") Telp: +6221 5794 0835
					li
						a(href="#") Fax: +6221 5794 0836
					li
						span Email:
					li
						a(href="mailto:marketing@katadata.co.id") marketing@katadata.co.id
					li
						a(href="mailto:redaksi@katadata.co.id") redaksi@katadata.co.id
			.linkFooter
				ul
					li
						a(href="#") #[b Ikuti kami di media sosial]
					li
						ul.iiw-sosmed.follow
							li
								a(href="#" class="tw")
									i(class="fa fa-twitter")
							li
								a(href="#" class="fb")
									i(class="fa fa-facebook")
							li
								a(href="#" class="gp")
									i(class="fa fa-google-plus")
							li
								a(href="#" class="lnkdn")
									i(class="fa fa-linkedin")
.copyright
	p &copy; 2017 Katadata. All rights reserved
	ul
		li
			a(href="#") Kebijakan Privasi
		li
			a(href="#") Disclaimer