header
	.iiw-navbar
		.container.no-padding-m.no-padding-tb
			.row.no-gap
				.col-md-6
					.iiw-navbar-left
						a(href="#")
							img(src="images/logo/australia-gov.png", alt="")
						a(href="#")
							img(src="images/logo/iiw-logo.png", alt="")
						a(href="#")
							img(src="images/logo/kd-logo.png", alt="")
				.col-md-6
					.iiw-navbar-right
						ul
							li
								a(href="#", data-title="home") Home
							li
								a(href="#", data-title="slide-artikel") Artikel
							li
								a(href="#", data-title="slide-infografik") Infografik
							li
								a(href="#", data-title="motion") Motion
							li
								a(href="#", data-title="slide-databoks") Databoks
	.iiw-2nd-head.hidden-xs
		.container
			ul.iiw-sosmed.pull-right
				li 
					span Share:
				li
					a(href="#" class="fb-official")
						i(class="fa fa-facebook-official")
				li
					a(href="#" class="tw")
						i(class="fa fa-twitter")
				li
					a(href="#" class="gp")
						i(class="fa fa-google-plus")