.slide-wrapper {
   position: relative;
}
.arrowNavigation {
   position: absolute;
   top: 40%;
   left: 0;
   transform: translateY(-40%);
   width: 100%;
   z-index: 2;
   a.prevArrowNav,
   a.nextArrowNav {
      position: inherit;
      text-decoration: none;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      color: #fff;
      background-color: $orange-muda;
      cursor: pointer;
      &:hover {
         background-color: $orange;
      }
      i {
         position: inherit;
         font-size: 1.7rem;
         line-height: 47px;
      }
      &.slick-disabled {
         cursor: not-allowed;
         background-color: $abu-muda;
      }
   }
   a.prevArrowNav {
      left: -50px;
      i {
         left: 11px;
      }
      &.hero {
         left: 50px;
      }
      @include breakpoint(mobile) {
         width: 30px;
         height: 30px;
         left: -15px;
         i {
            font-size: 1.2rem;
            left: 7px;
            line-height: 32px;
         }
      }
   }
   a.nextArrowNav {
      right: -50px;
      i {
         right: 11px;
      }
      &.hero {
         right: 50px;
      }
      @include breakpoint(mobile) {
         width: 30px;
         height: 30px;
         right: -15px;  
         i {
            font-size: 1.2rem;
            right: 7px;
            line-height: 32px;
         }
      }
   }
}

.slider1 {
   width: 100%;
   overflow: hidden;
   .slick-list {
      margin: 0 -12px;
   }
   .slick-slide {
      margin: 0 12px;
   }
   .item {
      position: relative;
      overflow: hidden;
      padding: 15px 15px 35px 15px;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0,0,0,.12);
      a {
         margin-bottom: 10px;
         display: block;
         font-family: Roboto;
         font-weight: 400;
         font-size: 20px;
         line-height: 1.4;
         color: $orange;
         &:hover {
            text-decoration: none;
            color: $orange-muda;
         }
      }
      p {
         font-family: Roboto;
         font-weight: 300;
         line-height: 1.4;
         font-size: 17px;
      }
      &:after {
         position: absolute;
         left: -5px;
         bottom: -14px;
         content: '';
         width: 110%;
         height: 27px;
         background-color: $orange-muda;
         transform: rotate(2deg);
      }
   }
}

.slider2 {
   width: 100%;
   overflow: hidden;
   .slick-list {
      margin: 0 -12px;
   }
   .slick-slide {
      margin: 0 12px;
   }
   .item {
      position: relative;
      overflow: hidden;
      a:not([class*="title"]) {
         border: 5px solid #ddd;
         box-shadow: 0 0 10px rgba(0,0,0,.12);
         display: block;
         margin-bottom: 10px;
         img {
            display: block;
            width: 100%;
         }
         &:focus {
            outline: none;
         }
      }
      a.title {
         font-family: Roboto;
         font-size: 17px;
         font-weight: 400;
         line-height: 1.4;
         color: $orange;
      }
      p {
         font-family: Roboto;
         font-weight: 300;
         line-height: 1.4;
         font-size: 17px;
      }
   }
}

.sliderHero {
   position: relative;
   width: 100%;
   height: 500px;
   // overflow: hidden;
   @include breakpoint(tablet) {
      height: auto;
   }
   @include breakpoint(mobile) {
      height: auto;
   }
   .slick-list {
      margin: 0 0;
      overflow: visible;
      @include breakpoint(mobile) {
         margin: 0 0;
      }
   }
   .slick-slide {
      margin: 0 0;
      @include breakpoint(mobile) {
         margin: 0 0;
      }
   }
   .slick-dots {
      position: absolute;
      right: 100px;
      bottom: -40px;
      z-index: 7;
      li {
         display: inline-block;
         margin: 0 5px;
         button {
            width: 8px;
            height: 15px;
            border-radius: 100%;
            border: none;
            text-indent: -9999px;
            background-color: $abu;
            &:focus {
               outline: none;
            }
         }
         &.slick-active {
            button {
               background-color: $ungu;
               border: none;
            }
         }
      }
      @include breakpoint(mobile) {
         left: 0;
         right: 0;
         bottom: -30px;
         li {
            margin: 0 3px;
            button {
               height: 6px;
               border-radius: 0;
            }
         }
      }
   }
   .item {
      position: relative;
      width: auto;
      height: 500px;
      // overflow: hidden;
      @include breakpoint(tablet) {
         height: auto;
      }
      @include breakpoint(mobile) {
         height: auto;
      }
      figure {
         display: inline-block;
         height: 500px;
         overflow: hidden;
         @include breakpoint(tablet) {
            overflow: hidden;
            height: auto;
         }
         @include breakpoint(mobile) {
            overflow: hidden;
            height: auto;
         }
         img {
            display: block;
            width: 100%;
            height: auto;
         }
         &:focus {
            outline: none;
         }
      }
      article {
         padding-top: 20px;
         position: absolute;
         left: 100px;
         bottom: 0;
         text-align: left;
         display: inline-block;
         width: 480px;
         overflow: hidden;
         z-index: 2;
         @include breakpoint(tablet) {
            bottom: 3px;
         }
         @include breakpoint(mobile) {
            width: 200px;
            left: 0;
            bottom: 0;
         }
         p {
            position: relative;
            padding: 20px 20px;
            color: #fff;
            z-index: 2;
            &.title {
               padding-top: 7px;
               font-family: Roboto;
               font-weight: 500;
               font-size: 2.2rem;
               line-height: 1.1;
               // background-color: transparentize($orange-muda, .3);
               background-color: $orange-muda;
               @include breakpoint(mobile) {
                  font-size: 1rem;
               }
               &:before {
                  position: absolute;
                  content: '';
                  display: block;
                  top: -7px;
                  left: -10px;
                  transform: rotate(1.2deg);
                  width: 110%;
                  height: 12px;
                  background-color: $orange-muda;
                  z-index: 1;
                  @include breakpoint(mobile) {
                     top: -8px;
                  }
               }
            }
            &.desc {
               font-family: Roboto;
               font-weight: 300;
               font-size: 14px;
               letter-spacing: .7px;
               // background-color: transparentize($orange, .3);
               background-color: $orange;
               @include breakpoint(tablet) {
                  display: none;
               }
               @include breakpoint(mobile) {
                  display: none;
                  font-size: 11px;
               }
            }
         }
      }
      p {
         font-family: Roboto;
         font-weight: 300;
         line-height: 1.4;
         font-size: 17px;
      }
   }
   // &:after {
   //    position: absolute;
   //    right: 0;
   //    bottom: -10px;
   //    content: '';
   //    width: 400px;
   //    height: 10px;
   //    background-color: $orange;
   //    @include breakpoint(mobile) {
   //       width: 100%;
   //       display: none;
   //    }
   // }
}