.book-list-headbox
   //- .page-number-box
   //- 	label#total-page.mb-0(for='', value='')
   //- 	span.separator of
   //- 	input#current-page(type='text', value='1')
   .cont
      ul#book-list.book-list
         li.book.active
            img(src='http://via.placeholder.com/300x300/?text=1', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=2', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=3', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=4', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=5', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=6', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=7', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=8', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=9', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=10', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=11', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=12', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=13', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=14', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=15', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=16', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=17', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=18', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=19', alt='Book Page')
         li.book
            img(src='http://via.placeholder.com/300x300/?text=20', alt='Book Page')
   div another content