section.hero-images
	.container.no-padding-m
		.slide-wrapper
			.arrowNavigation
				a#prevHero.prevArrowNav
					i(class="fa fa-chevron-left" aria-hidden="true")
				a#nextHero.nextArrowNav
					i(class="fa fa-chevron-right" aria-hidden="true")
			div#heroImages.sliderHero
				div.item
					figure
						img(src="images/banner.jpg", alt="")
					article
						p.title.
							Dear women, be at the same page with us
						p.desc.
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
				div.item
					figure
						img(src="images/banner.jpg", alt="")
				//- div.item
				//- 	figure
				//- 		img(src="images/banner.jpg", alt="")
				//- 	article
				//- 		p.title.
				//- 			Dear women, be at the same page with us
				//- 		p.desc.
				//- 			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
				//- div.item
				//- 	figure
				//- 		img(src="images/banner.jpg", alt="")