section#motion.motion
	.container
		strong #[span Motion]
		.col-md-8
			.big-screen
				iframe(src="https://www.youtube.com/embed/FxBA7cAlil4?rel=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
		.col-md-4
			.list-motion
				ul.listVideo
					li.vid.active
						a(href="#")
							figure
								img(src="images/vid-thumb1.jpg", alt="")
							p Empowering Women in the World of Work
					li.vid
						a(href="#")
							figure
								img(src="images/vid-thumb2.jpg", alt="")
							p Empowering Women in the World of Work
					li.vid
						a(href="#")
							figure
								img(src="images/vid-thumb1.jpg", alt="")
							p Empowering Women in the World of Work
					li.vid
						a(href="#")
							figure
								img(src="images/vid-thumb2.jpg", alt="")
							p Empowering Women in the World of Work
					li.vid
						a(href="#")
							figure
								img(src="images/vid-thumb1.jpg", alt="")
							p Empowering Women in the World of Work
					li.vid
						a(href="#")
							figure
								img(src="images/vid-thumb2.jpg", alt="")
							p Empowering Women in the World of Work