section#slide-artikel.slide-artikel
	.container
		strong #[span Artikel]
		.slide-wrapper
			.arrowNavigation
				a#prevArtikel.prevArrowNav
					i(class="fa fa-chevron-left" aria-hidden="true")
				a#nextArtikel.nextArrowNav
					i(class="fa fa-chevron-right" aria-hidden="true")
			div#artikel.slider1
				div.item
					a(href="#").
						Growing the field of gender lens investing: finance and gender experts brought together in Indonesia
					p The Philippine Business Coalition for Women Empowerment, with the Philippine Women’s Economic Network, Investing in Women, International Finance Corporation, and McKinsey &amp; Company jointly
				div.item
					a(href="#").
						Empowering Women in the World of Work
					p The Philippine Business Coalition for Women Empowerment, with the Philippine Women’s Economic Network, Investing in Women, International Finance Corporation, and McKinsey &amp; Company jointly
				div.item
					a(href="#").
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, suscipit?
					p The Philippine Business Coalition for Women Empowerment, with the Philippine Women’s Economic Network, Investing in Women, International Finance Corporation, and McKinsey &amp; Company jointly
				div.item
					a(href="#").
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p The Philippine Business Coalition for Women Empowerment, with the Philippine Women’s Economic Network, Investing in Women, International Finance Corporation, and McKinsey &amp; Company jointly