section#slide-infografik.slide-infografik
	.container
		strong #[span Infografik]
		.slide-wrapper
			.arrowNavigation
				a#prevInfograph.prevArrowNav
					i(class="fa fa-chevron-left" aria-hidden="true")
				a#nextInfograph.nextArrowNav
					i(class="fa fa-chevron-right" aria-hidden="true")
			div#infograph.slider2
				div.item
					a(href="#")
						img(src="images/thumbnail1.jpg", alt="")
				div.item
					a(href="#")
						img(src="images/thumbnail2.jpg", alt="")
				div.item
					a(href="#")
						img(src="images/thumbnail3.jpg", alt="")
				div.item
					a(href="#")
						img(src="images/thumbnail1.jpg", alt="")