extends layouts/landing

block content
	.iiw-index
		include sections/hero-images
		include sections/slide-artikel
		include sections/slide-infografik
		include sections/banner-center
		include sections/motion
		include sections/slide-databoks
		include sections/banner-center
	include includes/footer